<icecast>
  <location>Ian Rasmussen // Mr Rassy Radio</location>
  <admin>ian@rassys.com</admin>

  <limits>
    <clients>200</clients>
    <sources>4</sources>
    <queue-size>524288</queue-size>
    <client-timeout>30</client-timeout>
    <header-timeout>15</header-timeout>
    <source-timeout>60</source-timeout>
    <burst-on-connect>1</burst-on-connect>
    <burst-size>65535</burst-size>
  </limits>

  <authentication>
    <source-password>${ICECAST_SOURCE_PASSWORD}</source-password>
    <relay-password>${ICECAST_RELAY_PASSWORD}</relay-password>
    <admin-password>${ICECAST_ADMIN_PASSWORD}</admin-password>
    <admin-user>admin</admin-user>
  </authentication>

  <hostname>${ICECAST_HOSTNAME}</hostname>
  <listen-socket>
    <port>${ICECAST_PORT}</port>
  </listen-socket>

  <mount>
    <mount-name>${STREAM_MOUNT}</mount-name>
    <username>${ICECAST_USERNAME}</username>
    <password>${ICECAST_SOURCE_PASSWORD}</password>
  </mount>

  <mount>
    <mount-name>${STREAM_LOSSLESS_MOUNT}</mount-name>
    <username>${ICECAST_LOSSLESS_USERNAME}</username>
    <password>${ICECAST_SOURCE_PASSWORD}</password>
  </mount>

  <fileserve>1</fileserve>

  <paths>
    <basedir>/usr/share/icecast</basedir>
    <logdir>/var/log/icecast</logdir>
    <webroot>/usr/share/icecast/web</webroot>
    <adminroot>/usr/share/icecast/admin</adminroot>
    <alias source="/" destination="/status.xsl" />
  </paths>

  <logging>
    <accesslog>access.log</accesslog>
    <errorlog>error.log</errorlog>
    <loglevel>2</loglevel>
    <logsize>10000</logsize>
  </logging>

  <security>
    <chroot>0</chroot>
    <changeowner>
      <user>icecast</user>
      <group>icecast</group>
    </changeowner>
  </security>
</icecast>
